@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";



@theme {
  --color-background: #F2E8D5;   /* warm autumn parchment */
  --color-primary: #C96A2B;      /* pumpkin burnt orange */
  --color-secondary: #5E7C3A;    /* earthy leaf green */
  --color-text: #2B2F2A;         /* deep forest charcoal */
  --color-muted: #6E7B5C;        /* moss muted green */
  --color-card: #FBF6ED;         /* soft warm card */
  --color-border: #CFAE8E;       /* dried leaf tan */
}

/* AUTUMN THEMED SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

